.sidebar {
  width: 200px;
  height: 100vh;
  background: #1f1f1f;
  color: white;
  position: fixed;
  top: 60px;
  left: 0;
  padding-top: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  color: #00eaff;
}
