.header {
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 20px;
  z-index: 1000;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn {
  padding: 6px 14px;
  background: #1f1f1f;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #00eaff;
  color: black;
}
